

# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan
*.plan
*plan*

# OS files
.DS_Store

# Environment files
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/