name: Pytesting & Pylinting
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  validation:
    name: Pytesting & Pylinting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install requirements
      run: |
        pip install -r requirements.txt
    - name: Linting
      run: pylint . --fail-under 8
    - name: Testing
      run: pytest . --ignore-glob='*' || [ $? -eq 5 ]
